<%- include("header") -%>

<h2>This is a about page</h2>
<p>mjskbvsfb kjbshdbcds nbusdhjnn bjojbvjndjovdfvj b ihovsnvhbvipdfv bbchebbcfdjonvbhabcosf buidubchfsbvhiadv</p>

<%- include("footer") -%>
